<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
  <link rel="stylesheet" href="css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="js/materialize.min.js"></script>
  <script src="angular/angular.min.js"></script>
  <script src="js/sweetalert.min.js"></script>
  <script src="angular/angular-sanitize.min.js"></script>
  <script src="angular/ng-file-upload.min.js"></script>
  <script src="angular/ui-bootstrap-tpls.min.js"></script>
  <script src="angular/LoginCtrl.js"></script>
</head>
<body ng-app="App" ng-controller="LoginCtrl">

<div class="container">
   <div class="row">
   <br>
    <div class="col s4">
			<img class="responsive-img" src="imgs/responsive.png">
	</div>
	<div class="col s5">
			
	</div>
    <form name="NewUser" class="col s12">
	<br>
      <div class="row">
        <div class="input-field col s6">
          <input id="firstname" ng-model="usersDetails.firstname" type="text" class="validate">
          <label for="firstname">First Name</label>
        </div>
		
		<div class="input-field col s6">
          <input id="lastname" type="text" ng-model="usersDetails.lastname" class="validate">
          <label for="lastname">Last Name</label>
        </div>
		
		<div class="input-field col s12">
          <input id="icon_prefix" type="text" maxlength="10"  ng-model="usersDetails.mobile" class="validate">
          <label for="icon_prefix">Mobile</label>
        </div>
		
		<div class="input-field col s12">
          <input id="email" type="email" ng-model="usersDetails.email" class="validate">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s6">
          <input id="password" type="password" ng-model="usersDetails.password" ng-change="verifyPasswordStrongness(usersDetails.password)" class="validate password">
          <label for="password">Password</label>
        </div>

		<div class="input-field col s6">
          <input id="confpassword" type="password" ng-model="Confirmpassword" class="validate password" ng-change="verfiPasswordConf(usersDetails.password,Confirmpassword)">
          <label for="confpassword">Confirm Password</label>
        </div>

          <label class="col s12 text-center">
			<input type="checkbox" class="filled-in" ng-click="showHidePassword()"/>
			<span>Show Password</span>
		  </label>
        
		<div class="input-field col s12 text-center" ng-if="passwordcalc">
			<div class="progress">
			<div class="determinate" id="prgpass" style="width: {{passscore}}%;background-color:{{prgcol}}"></div>
			
			</div>
			<strong for="prgpass">{{passstrenth}}</strong>
        </div>
      </div>
    </form>
  </div>
       

	   
	   
</div>

      <div class="container text-center footer">
		<a class="waves-effect waves-light btn-large" href="index.html">Cancel</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="waves-effect waves-light btn-large" ng-click="Registeruser()">Sign In</a>
      </div>
</body>
</html>
